img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

p {
  font-size: 2rem;
}

.galeria {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (min-width: 400px) {
  .minmax img {
    grid-row: 2; /* ou  order: 2;  muda a ordem e exibe a imagem por segundo mas não muda a ordem do html*/
  }
}